h1
{
    text-align: center; 
     /* background-color: green;   */
    background-color: hsla(0,200%,20%,0.25);
}
h2
{
    text-align: center; 
     /* background-color: green;   */
    background-color: hsla(0,200%,20%,0.5);
}
h3
{
    text-align: center; 
     /* background-color: green;   */
    background-color: hsla(0,200%,20%,0.75);
}
h4
{
    text-align: center; 
     /* background-color: green;   */
    background-color: hsla(0,200%,20%,1);
}


